/*
====================================================================================================================================================================
                                                    Start Professional development Page
====================================================================================================================================================================
*/
section#development{
  color: white;
  position: absolute;
  top:500px;
  right: 50px;
}

img#prof{
  width: 100%;
  height: auto;
}



/*
====================================================================================================================================================================
                                                    End Professional Dvelopment Page
====================================================================================================================================================================
*/




/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    top: 900px!important;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
